<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
<listener class-name="com.zenken.freshers.testcomponents.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.zenken.freshers.user.Projects">
        <methods>
          <include name="verifyProjectsNewUrl"/>
          <include name="verifyProjectEndDateDdDisable"></include>
        </methods>
      </class>  
      <class name="com.zenken.freshers.user.Registration">
        <methods>
          <include name="verifyTermsPDF"/>
          <include name="verifyLogInUrl"></include>
          <include name="verifyIncorrectPassword1"></include>
        </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
