<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes">
	<listeners>
<listener class-name="com.zenken.freshers.testcomponents.Listeners"></listener>
<listener class-name="com.zenken.freshers.testcomponents.RetryListener"></listener>
</listeners>
  <test thread-count="3" name="Test">
    <classes>
      <class name="com.zenken.freshers.user.BasicInformation"/>
      <class name="com.zenken.freshers.user.Certifications"/>
      <class name="com.zenken.freshers.user.CommonParts"/>
      <class name="com.zenken.freshers.user.Photo"/>
      <class name="com.zenken.freshers.user.Skills"/>
      <class name="com.zenken.freshers.user.Projects"/>
      <class name="com.zenken.freshers.user.JapanesePlacementConsentForm"/>
      <class name="com.zenken.freshers.user.FieldOfStudy"/>
      <class name="com.zenken.freshers.user.Internships"/>
      <class name="com.zenken.freshers.user.JobPreferences"/>
      <class name="com.zenken.freshers.user.Login"/>
      <class name="com.zenken.freshers.user.Registration"/>
      <class name="com.zenken.freshers.user.Settings"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
